<Dial callerId="16049470021" callerName="COBD Internal" confirmKey="*" confirmSound="{{ data.base_url }}/documents/confirm?number={{ data.call.X-PH-number }}" dialMusic="{{ data.base_url }}/documents/hold_1" timeout="30">
<Number>{{ data.call.X-PH-number }}</Number>
</Dial>
