{% if data.call.skipDial %}
{% else %}
<Play>https://phone.apps.blindhub.ca/teams/general/audio/hold.wav</Play>
{% if data.extension.dial %}
<Dial timeout="45">
{% for number in data.extension.dial.numbers %}
<Sip>callandconfirm344277410761238972546@phone.plivo.com?X-PH-number={{ number }}</Sip>
{% endfor %}
{% for item in data.extension.dial.sip %}
<Sip>{{ item }}</Sip>
{% endfor %}
{% for item in data.extension.dial.pbx %}
<Sip>french-bulldog@campboweninnovations-33be1347ee70.sip.signalwire.com?x-extension={{ item }}&amp;x-bh-did={{ data.call.To }}</Sip>
{% endfor %}
</Dial>
{% endif %}
{% endif %}
{% if data.extension.voicemail %}
<Play>{{ data.self }}{{ data.extension.voicemail.greeting }}</Play>
<Record action="{{ data.base_url }}/voicemailboxes/{{ data.extension.email }}" method="GET" />
{% endif %}
