{% if data.extensionNumber %}
<Redirect method="GET">{{ data.base_url }}/extensions/{{ data.extensionNumber }}</Redirect>
{% endif %}
{% if data.menu.redirection %}
<Redirect method="GET">{{ data.menu.redirection }}</Redirect>
{% else %}
{% if data.error %}
<Play>{{ data.base_url }}/audio/invalid-selection.wav</Play>
{% endif %}
<Gather action="{{ data.self }}" actionOnEmptyResult="false" method="GET" hints="{% for hint in data.menu.hints %}{{ hint }}, {% endfor %}" input="dtmf" numDigits="{{ data.menu.numDigits }}" timeout="7">
{% if data.call.greeting %}
<Play>{{ data.base_url }}{{ data.menu.greeting }}</Play>
{% endif %}
<Play>{{ data.base_url }}{{ data.menu.prompt }}</Play>
</Gather>
{% endif %}
